.main-side {
    margin-top: 55px;
    width: 100%;
    .menu-bar-responsive {
        position: fixed;
        top: 55px;
        left: 0;
        height: 100vh;
        background-color: #212121;
        z-index: 90;
        .menu-bar-responsive-content {
            div:hover {
                background-color: #383838
            }
            div {
                padding: 16px 0 14px;
                width: 72px;
                margin: 4px 0;
                a {
                    text-decoration: none;
                    li {
                        height: 40px;
                        align-items: center;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        span {
                            height: 24px;
                            width: 24px;
                            color: #7a7a7a;
                            margin-bottom: 6px;
                        }
                        p {
                            font-size: 10px;
                            color: #7a7a7a;
                        }
                    }
                }
            }
        }
    }
    .menu-bar {
        position: fixed;
        top: 55px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 240px;
        background-color: #212121;
        z-index: 100;
        left: 0;
        .menu-bar-content {
            .border {
                width: 228px;
                height: 1px;
                background-color: #383838;
                border: none !important;
            }
            .menu-bar-content-inner {
                padding: 12px 0;
                p.head {
                    color: #fff;
                    padding: 8px 24px;
                    font-size: 14px;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-weight: 500;
                }
                a {
                    height: 40px;   
                    text-decoration: none;
                    li:hover {
                        background-color: #383838;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        height: 40px;
                        padding: 0px 24px;
                        width: 228px;
                        margin-right: 20px;
                        span {
                            margin-right: 24px;
                            height: 24px;
                            width: 24px;
                            color: #7a7a7a;
                        }
                        p {
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
            }
            .inner3 {
                a {
                    li {
                        span {
                            background-color: #404040;
                            border-radius: 50%;
                            padding: 5px;
                            font-size: 17px;
                            height: auto;
                            width: auto;
                            color: #fff;
                        }
                    }
                }
            }
            .menu-bar-content-inner-last {
                padding: 16px 0px;
                .menu-bar-footer {
                    padding: 0px 25px;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 1.5;
                    margin-bottom: 5px;
                    a {
                        color: #909090;
                        font-size: 13px;
                        text-decoration: none;
                        line-height: 1.5;
                        font-weight: 500;
                        margin-right: 8px;
                    }
                }
                .copyright {
                    margin: 10px 0 40px 0;
                    padding: 0 25px;
                    font-size: 13px;
                    color: #717171;
                }
            }
        }
    }
    .menu-bar:hover {
        overflow-y: scroll;
    }
    .menu-bar::-webkit-scrollbar- {
        height: 50px !important;
    }
    /* width */
    .menu-bar::-webkit-scrollbar {
        width: 8px;
    }
  
    /* Track */
    .menu-bar::-webkit-scrollbar-track {
        background: #212121; 
        
    }
   
    /* Handle */
    .menu-bar::-webkit-scrollbar-thumb {
        background: #7a7a7a; 
        border-radius: 5px;
    }
  
    /* Handle on hover */
    .menu-bar::-webkit-scrollbar-thumb:hover {
        background: #7a7a7a; 
    }
}
.menu-responsive-top {
    z-index: 1006;
    position: fixed;
    width: 240px;
    height: 56px;
    top: 0;
    transition: all .2s ease-in;
    left: 0;
    display: none;
    .left-res-top {
        width: 240px;
        display: flex;
        z-index: 110;
        background-color: #212121;
        align-items: center;
        padding: 0 16px;
        height: 56px;
        border-bottom: 1px solid #383838;
        .hamburger-res-top {
            margin-right: 16px;
            padding: 8px;
            svg {
                width: 24px;
                height: 24px;
                fill: #fff !important;
                cursor: pointer;
            }
        }
        .logo-res {
            cursor: pointer;
            svg {
                width: 80px;
                height: 24px;
                fill: #fff;
            }
        }
    }
}
.bg {
    position: fixed;
    background-color: #000;
    height: 100%;
    width: 100%;
    transition-delay: .3s;
    transition: all .2s ease-in;
    display: none;
    // left: -100%;
    opacity: 0;
}

.active {
    background-color: #383838;
    span {
        color: #fff !important;
    }
}
.active:hover {
    background-color: #504f4f !important;
}
.active-res {
    color: #fff !important;
}
